{% extends 'main.html' %}

{% set pageName = 'Create Post' %}
{% set selectedTab = 'create_post' %}

{% block body %}
	<p id='error' style='color: red;' hidden></p>
	<input id='postTitle' type='text' placeholder='Title' style='width: 100%;'/>
	<textarea id='postDescription' placeholder='Description' style='height: 100px;'></textarea>

	<div>
		<code id='postContent'></code>
		<br/>
		<button onclick='openMarkdownEditor()'>Open Markdown Editor</button>
	</div>

	<button onclick='fetch("/api/v0/posts/create", {
			method: "POST",
			headers: {
				"Content-Type": "application/json"
			},
			body: JSON.stringify({
				title: document.getElementById("postTitle").value,
				description: document.getElementById("postDescription").value,
				content: document.getElementById("postContent").innerText
			})
		})
		.then(response => {
			if (response.status == 200) window.location.href = "/posts"
			else if (response.status == 409) {
				let errorReference = document.getElementById("error");
				errorReference.hidden = false;
				errorReference.innerText = "Title taken by another post.";
			}
			else {
				let errorReference = document.getElementById("error");
				errorReference.hidden = false;
				errorReference.innerText = "An unknown error has occured.";
			}
		})
	'>Post</button>

	<script src='https://unpkg.com/stackedit-js@1.0.7/docs/lib/stackedit.min.js'></script>

	<script>
		const postContentReference = document.getElementById('postContent');
		const stackedit = new Stackedit();

		function openMarkdownEditor() {
			stackedit.openFile({
				content: {
					text: postContentReference.innerText
				}
			});
		}

		stackedit.on('fileChange', file => {
			postContentReference.innerText = file.content.text;
		});
	</script>
{% endblock %}
