<!DOCTYPE html>
<html>
<head>
	<title>{{ siteName }} - {{ pageName }}</title>
	<link rel='stylesheet' href='https://cdn.simplecss.org/simple.min.css'/>
	<link rel='stylesheet' href='/main.css'/>
</head>
<body>
	<header>
		<nav>
			{% include 'navbar.html' %}
		</nav>
		<h1>{{ pageName }}</h1>
	</header>
	<main>
		{% block body %}
		{% endblock %}
	</main>
	<footer>
		{% for badge in linkBadges %}
			{% include 'link_badge.html' %}
		{% endfor %}
		<p>{{ footnote|safe }}</p>
	</footer>
</body>
</html>
