:root {
	--bg: {{ colorBackground }};
	--accent-bg: {{ colorBackgroundAccent }};

	--accent: {{ colorAccent }};
	--accent-hover: {{ colorAccentHover }};
}


textarea {
	resize: none;
}


a {
	text-decoration: none;
}

a:hover {
	text-decoration-line: underline;
	text-decoration-style: solid;
}


a .description {
	color: white;
}


.post {
	margin-bottom: 15px;
	padding: 10px;

	background-color: var(--accent-bg);
	border-radius: 10px;
}

.post p {
	margin: 0;
}


.link-badge img {
	object-fit: cover;

	width: 90px;
	height: 30px;

	border: 2px rgb(0, 0, 0, 0.5) outset;
}
