<a {% if selectedTab == 'home' %}
		class='current'
	{% endif %} href='/'>Home</a>

<a {% if selectedTab == 'posts' %}
		class='current'
	{% endif %} href='/posts'>Posts</a>

{% if user %}
	{% if 'WRITE_POSTS' in permissions %}
		<a {% if selectedTab == 'create_post' %}
				class='current'
			{% endif %} href='/posts/create'>Create Post</a>
	{% endif %}
	<a {% if selectedTab == 'logout' %}
			class='current'
		{% endif %} href='/users/logout'>Logout</a>
{% else %}
	<a {% if selectedTab == 'login' %}
			class='current'
		{% endif %} href='/users/login'>Login</a>
	<a {% if selectedTab == 'register' %}
			class='current'
		{% endif %} href='/users/register'>Register</a>
{% endif %}
