<a {% if selectedTab == 'home' %}
		class='current'
	{% endif %} href='/'>Home</a>

<a {% if selectedTab == 'posts' %}
		class='current'
	{% endif %} href='/posts'>Posts</a>

{% if 'CAN_WRITE_POSTS' in permissions %}
	<a {% if selectedTab == 'create_post' %}
			class='current'
		{% endif %} href='/posts/create'>Create Post</a>
{% endif %}
{% if 'CAN_UPLOAD_FILES' in permissions %}
	<a {% if selectedTab == 'upload_file' %}
			class='current'
		{% endif %} href='/file_storage/upload'>Upload File</a>
{% endif %}
{% if 'CAN_LOGOUT' in permissions %}
	<a {% if selectedTab == 'logout' %}
			class='current'
		{% endif %} href='/users/logout'>Logout</a>
{% endif %}
{% if 'CAN_LOGIN' in permissions %}
	<a {% if selectedTab == 'login' %}
			class='current'
		{% endif %} href='/users/login'>Login</a>
{% endif %}
{% if 'CAN_REGISTER' in permissions %}
	<a {% if selectedTab == 'register' %}
			class='current'
		{% endif %} href='/users/register'>Register</a>
{% endif %}
