textarea {
	resize: none;
}


a {
	text-decoration: none;
}

a:hover {
	text-decoration-line: underline;
	text-decoration-style: solid;
}


a .description {
	color: white;
}


.post {
	margin-bottom: 15px;
	padding: 10px;

	background-color: var(--accent-bg);
	border-radius: 10px;
}

.post p {
	margin: 0;
}
